

@model IEnumerable<MVC_HW3.Models.tPhoto>

@{MVC_HW3.Models.tAlbum Al = ViewBag.Al; }
@{
    ViewBag.Title = "Photo";
}


@section styles{
    <style>
        #showbox {
            margin: 0px;
        }

        #photobox {
            padding: 0px;
        }

        #photoNote {
            padding: 10px 25px 10px 25px;
        }

        #photoms {
            border-top: 1px solid #b4dcdc;
            background-color: #e7f3fc;
        }

        #messall {
            overflow-x: auto;
        }

        #photoinput {
            background-color: #e7f3fc;
            padding: 10px;
        }

            #photoinput > input {
                width: 100%;
                max-width: 100%;
            }

        .divcss5 {
            position: relative;
        }

            .divcss5 .close {
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 100;
                width: 50px;
                
            }

        .close:hover {
            opacity: 1.0;
            filter: alpha(opacity=100); /* 针对 IE8 以及更早的版本 */
        }
    </style>
}

<h2>員工旅遊 第 @Al.tTravelCase.fTC_LorD 期</h2>
<hr />
<div id="createbutton">
    <a href="@Url.Action("tPhotoCreate","Bulletin",new { @area = "Bulletin", id = Al.fAl_ID })">
        <input type="button" class="btn btn-primary" value="新增相片" />
    </a>
</div>

<div class="row ">
    @foreach (var photo in Model)
    {
        <div class="col-try1">

            <div class="divcss5">
                <a href="@Url.Action("tPhotoDelete","Bulletin",new {area="Bulletin",ID=photo.fPh_ID})">
                    <img src="~/Images/close.png" class="close" id="deletebutton" />
                </a>
                <a href="#">
                    <img name="photobt" messageid="@photo.fMC_ID" ptid="@photo.fPh_ID" photont="@photo.fPh_Notes" src="@Url.Action("GetImage","Albums",new {area="Albums",id=photo.fPh_ID})">
                </a>
            </div>


        </div>
    }


</div>
@Html.ActionLink("回上一頁", "Index", "Albums", new { area = "Albums" }, new { })

<div class="bs-example">


    <!-- Large Modal HTML -->
    <div id="largeModal" class="modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <div class="modal-body row" id="showbox">

                    <div id="photobox" class="col-md-8">
                        <img src="@Url.Action("GetImage","Albums",new {area="Albums",id=4})">
                    </div>

                    <div class="col-md-4">

                        <div id="messall">
                            <div class="minH20" id="photoNote"><h3></h3></div>
                            <a href="" id="photoedit" class="btn btn-primary">編輯照片內容</a>
                            <div id="photoms"></div>
                        </div>
                        <div id="photoinput"><input id="pinput" class="needlog2" log_url="" type="text" /></div>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            window.onload = function () {
                if ("@ViewBag.pID" != "") {
                    var opener = $("img[ptid='@ViewBag.pID']")
                    var src = opener.attr("src")
                    var note = opener.attr("photont")
                    mesid = opener.attr("messageid")
                    $("#showbox").height("auto");
                    $("#photobox>img").attr("src", src)
                    $(".needlog2").attr("log_url", "@Request.Url.AbsolutePath" + "?pID=" + "@ViewBag.pID")
                    $("#photoNote>h3").empty().append(note)
                    $("#photoedit").attr('href',"@Url.Action("tPhotoEdit", "Bulletin", new{area= "Bulletin" })?id=" + picid)
                    $("#largeModal").modal('show')
                    var boxH = $("#showbox").height();
                    var messH = boxH - 56
                    $("#messall").css("max-height", messH + "px")
                    $("#showbox").height(boxH);
                    $("#photoms").load("@Url.Action("PhotoMessage","Albums",new{area="Albums"})?id=" + mesid)
                    //清除網址參數
                    history.pushState(null, "", location.href.split("?")[0]);

                }

            }
            var mesid;
            $("#pinput").click(function () {
                var account = document.cookie.indexOf("account=")
                if (account == -1) {
                    $("#largeModal").modal('hide')
                }
            })

            $('#pinput').bind("enterKey", function (e) {


                var content = $(this).val()
                if ($(this).val() != "") {
                    $("#photoms").load("@Url.Action("PhotoMessage","Albums",new{area="Albums"})?id=" + mesid + "&content=" + content)
                    $(this).val("")
                }



            });
            $('#pinput').keyup(function (e) {
                if (e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });
            var picid;

            var cw = $(".divcss5").width();
            $(".divcss5").css({ 'height': cw + 'px' });
            $("#ov-top")

            $("img[name='photobt']").click(function () {
                var src = $(this).attr("src")
                var note = $(this).attr("photont")
                mesid = $(this).attr("messageid")
                picid = $(this).attr("ptid")
                $("#showbox").height("auto");
                $("#photobox>img").attr("src", src)
                $(".needlog2").attr("log_url", "@Request.Url.AbsolutePath" + "?pID=" + $(this).attr("ptid"))
                $("#photoNote>h3").empty().append(note)
                $("#photoedit").attr('href',"@Url.Action("tPhotoEdit", "Bulletin", new{area= "Bulletin" })?id=" + picid)
                $("#largeModal").modal('show')
                var boxH = $("#showbox").height();
                var messH = boxH - 56
                $("#messall").css("max-height", messH + "px")
                $("#showbox").height(boxH);
                $("#photoms").load("@Url.Action("PhotoMessage","Albums",new{area="Albums"})?id=" + mesid)
            })
        });
        $(document).ready(function () {
            if ($.cookie('Manergers') == null) {
                $("#createbutton").hide();
                $("#photoedit").hide();
                $(".close").each(function () {
                    $(this).hide();
                });
            }
            else {
                $("#createbutton").show();
                $("#deletebutton").show();
                $("#photoedit").show();
            }
        });
    </script>

}