@model MVC_HW3.Models.tAlbum

@{
    ViewBag.Title = "tAlbumDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>刪除視窗</h2>

<h3>請問您確定要刪除此相簿嗎?</h3>
<div>
    <h4>@ViewBag.Class</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fAl_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fAl_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tTravelCase.fTC_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tTravelCase.fTC_Title)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="確定刪除" class="btn btn-danger" /> |
                @Html.ActionLink("回首頁", "Index", "Home", new { area = "" }, new { })
        </div>
    }
</div>

